.title {
  margin: 4em 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.title span {
  color: var(--primary-accent-color);
}
.btn-sort {
  border: 1px solid var(--secondary-accent-color);
  color: var(--secondary-accent-color);
}
.btn-sort:hover {
  color: white;
  background-color: var(--secondary-accent-color);
}
.card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
}
.card {
  width: 250px;
  height: 320px;
  display: flex;
  align-items: flex-end;
  padding: 2rem 1rem;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(13, 36, 63, 0.3),
    rgba(13, 36, 63, 1)
  );
  z-index: 2;
  opacity: 0;
  transition: 0.5s all;
}
.card:hover::before {
  opacity: 1;
}
.card img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info {
  position: relative;
  color: #fff;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0);
}
.card .book-name {
  line-height: 40px;
}
.card .book-info {
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 1.5em;
}
.borrow-btn {
  background: #fff;
  padding: 0.5em 1em;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 1em;
  text-decoration: none;
  font-weight: 900;
  transition: 0.4s ease-in-out;
}

.borrow-btn:hover {
  background: var(--secondary-accent-color);
  color: #fff;
  box-shadow: 0 3px 7px;
}
.book-info {
  color: #fff;
  font-size: 1em;
}

@media only screen and (max-width: 786px) {
  .card-box {
    justify-content: center;
  }
}
