<section class="text-center banner">
  <div class="row">
    <div class="col-lg-6 col-md-8 m-auto box">
      <h1 class="fw-light">The Best in Children's Literature</h1>
      <p class="lead text-body-secondary">
        The magic of children's literature comes to life in our library. Immerse
        young minds in charming stories, delightful characters, and timeless
        lessons. Explore a curated collection that sparks the imagination and
        fosters a love of reading.
      </p>
    </div>
    <div class="col-lg-5">
      <div class="banner-photo"></div>
    </div>
  </div>
</section>
